$home-theme: #f5f5f5;
$home-item: #fff;
$a-theme: #7e8c8d;

$reader-bg01: #e9dfc7;  // 杏仁黄
$reader-bg02: #eaeaef;  // 极光灰
$reader-bg03: #fde6e0;  // 胭脂红
$reader-bg04: #e3edcd;  // 青草绿
$reader-bg05: #dce2f1;  // 海天蓝
$reader-bg06: #fff2e2;  // 秋叶褐

$reader-bg07: #0f1410